@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  display: flex;
  flex-direction: row;
  border-radius: 0.75rem;
  padding: 0.75rem 2rem;
  font-weight: 800;
  color: white;
}

@theme {
  --animate-fade-in-scale: fade-in-scale 1s ease-out;
  --animate-fade-in-up-delay: fade-in-up-delay 2s ease-out;
  --color-linkedin: #0072b1;
  --color-linkedin-hover: #006293;
  --color-github: #24292e;
  --color-github-hover: #161b22;

  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    50% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes fade-in-up-delay {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    50% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
